h1{
    text-align: center;
}
h2{
    margin-left: 10px;
}

p{
    margin-left: 30px;
    margin-bottom: 50px;
}
body{
    border-style: solid;
    background-size: auto auto;
    background-repeat: no-repeat;
    background-image: linear-gradient(aqua, pink);
}