@import url(//db.onlinewebfonts.com/c/89d11a443c316da80dcb8f5e1f63c86e?family=Bauhaus+93);
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    width: 100%;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: url(/lista04-ProgramacaoWeb/exercicio02/background.png);
}
.cabecalho{
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 1%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 1px solid #db00a5;
}
.conteudo{
    border-radius: 20px;
    border: 1px solid #ed2590;
    width: 98%;
    height: 75vh;
    margin: 1%;
    padding: 1%;
    background-color: white;
}
.conteudo h1{
    text-align: center;
    font-family: 'Bauhaus 93', sans-serif;
    color: #ed2590;
}
.conteudo label{
    color: #ed2590;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bolder;
}
.conteudo input{
    width: 50%;
    height: 5vh;
    margin-top: 1%;
    margin-bottom: 2%;
    padding-left: 20px;
    border-radius: 50px;
    border: 1px solid #ed259023;
}
.botao{
    width: 20vh;
    position: relative;
    left: 820px;
    top: 50px;
}
.botao button{
    cursor: pointer;
    background-color: white;
    color: #ed2590;
    font-weight: bolder;
    width: 100%;
    margin-bottom: 10px;
    height: 5vh;
    border-radius: 50px;
    border: 1px solid #ed259023;
}
.botao .ok{
    background-color: #ed2590;
    color: white;
    font-weight: bolder;
}
.botao .ok:hover{
    background-color: white;
    color: #ed2590;
}
.botao button:hover{
    background-color: rgb(248, 210, 210);
}
.cadastro{
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 0%;
    width: 80vh;
}
.cadastro2{
    position: relative;
    top: -400px;
    left: -400px;
    float: right;
    width: 60vh;
}
.sex{
    float: right;
    position: relative;
    top: -200px;
    left: -200px;
}
.sex select{
    background-color: white;
    width: 200px;
    height: 5vh;
    margin-top: 1%;
    margin-bottom: 2%;
    padding-left: 20px;
    border-radius: 50px;
    border: 1px solid #ed259023;
}
.outros{
    float: right;
    position: relative;
    left: 500px;
    top: -400px;
}
.outros input{
    width: 100%;
    height: 5vh;
    margin-top: 1%;
    margin-bottom: 8%;
    padding-left: 20px;
    border-radius: 50px;
    border: 1px solid #ed259023;
}
.rodape{
    padding: 2%;
    width: 100%;
    height: 11vh;
    display: flex;
    justify-content: center;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: 1px solid #db00a5;
}
.rodape p{
    text-align: center;
}
.rodape div{
    position: relative;
    float: left;
    margin-left: 10px;
}
.rodape div a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #ed2590;
}